/* #Reset
================================================================================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Media - Fluid Images - Video
======================================================= */
figure {
  margin: 0;
}

img, object, embed, video {
  max-width: 100%;
  _width: 100%;
}

/* Fluid images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden;
}

/* Correct IE9 overflow */
img {
  height: auto;
}

/* Colors
================================================================================================= */
/* Sizes
================================================================================================= */
/* Responsive
================================================================================================= */
/* Transition Times
================================================================================================= */
/* Open Sans
================================================================================================= */
/* Proxima Nova
================================================================================================= */
/* Novecento
================================================================================================= */
/* Skolar
================================================================================================= */
/* Links and Headers
======================================================= */
a {
  color: blue;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
a:focus, a:hover, a:active {
  outline: 0;
}
a:hover {
  color: purple;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.35em;
  color: #444444;
  text-transform: uppercase;
  font-family: 'Novecentowide-Bold';
  letter-spacing: 0.09em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

/* Main Body Styles
======================================================= */
body {
  font-size: 62.5%;
  color: #444444;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* Nav Styles
======================================================= */
nav a {
  text-decoration: none;
  color: #444444;
}
body#hireme nav {
  position: fixed;
  top: 18px;
  left: 18px;
}
body#hireme nav a {
  font-size: 30px;
  padding: 15px 10px;
  float: left;
}
body#hireme nav a:hover {
  background-color: tomato;
  color: #f3f2f2;
}

/* Home Page
======================================================= */
body#home {
  padding: 15px;
  line-height: 2px;
  overflow: hidden;
}
body#home a {
  text-decoration: none;
  color: #ccc8c8;
}
body#home li {
  position: relative;
  width: 94%;
  padding: 0 3%;
  margin: auto;
  list-style: none;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#home li > span {
  position: absolute;
  top: 35px;
  right: 0;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#home li > span a {
  display: block;
  float: right;
  opacity: 0;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 3px;
  margin-left: 8px;
  padding: 5px;
  font-family: "skolar",serif;
  font-style: normal;
  font-weight: 400;
}
body#home li > span a.behance, body#home li > span a.linkedin {
  color: #1aa093;
}
body#home li > span a.behance:hover, body#home li > span a.linkedin:hover {
  color: turquoise;
  background-color: #aef2eb;
}
body#home li > span a.behance:after, body#home li > span a.linkedin:after {
  background: #1aa093;
}
body#home li > span a.blog, body#home li > span a.codepen, body#home li > span a.tumblr, body#home li > span a.twitter, body#home li > span a.instagram {
  color: #dbab01;
}
body#home li > span a.blog:hover, body#home li > span a.codepen:hover, body#home li > span a.tumblr:hover, body#home li > span a.twitter:hover, body#home li > span a.instagram:hover {
  color: #fed544;
  background-color: #fff1c3;
}
body#home li > span a.blog:after, body#home li > span a.codepen:after, body#home li > span a.tumblr:after, body#home li > span a.twitter:after, body#home li > span a.instagram:after {
  background: #dbab01;
}
body#home li:hover span, body#home li.active span {
  opacity: 1;
  right: 25px;
}
body#home li:hover span a, body#home li.active span a {
  opacity: 1;
}
@media all and (max-width: 1024px) {
  body#home li span {
    top: auto;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
  }
  body#home li span a {
    opacity: 1;
    display: inline-block;
    float: none;
    position: relative;
    font-size: 26px;
  }
  body#home li span a:after {
    position: absolute;
    bottom: -1px;
    left: 5px;
    right: 5px;
    content: '';
    height: 2px;
  }
  body#home li:hover span {
    right: 20px;
  }
}
@media all and (max-width: 768px) {
  body#home li span {
    bottom: 40px;
  }
}
body#home li#me-item p {
  text-align: right;
  float: right;
  position: absolute;
  bottom: 35px;
  right: 0px;
  color: #c61e00;
  font-size: 22px;
  opacity: 0;
  letter-spacing: .02em;
  line-height: 1.2;
  font-family: 'proxima_novalight_italic';
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#home li#me-item .me-btns {
  z-index: 9999;
  right: 25px;
  top: 25px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#home li#me-item .me-btns a {
  font-size: 33px;
  color: #f42500;
  margin-left: 2px;
  position: relative;
}
body#home li#me-item .me-btns a span {
  min-width: 60px;
  position: absolute;
  bottom: -30px;
  left: -8px;
  padding: 15px 0;
  background: #fed544;
  color: tomato;
  text-align: center;
  font-size: 11px;
  line-height: 0.3;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 0;
  font-family: 'proxima_novasemibold';
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#home li#me-item .me-btns a span:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -5px;
  left: 26px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fed544;
}
body#home li#me-item .me-btns a.icon-mail {
  font-size: 37px;
}
body#home li#me-item .me-btns a.icon-mail span {
  left: -5px;
}
body#home li#me-item .me-btns a.icon-mail span:before {
  left: 43%;
}
body#home li#me-item .me-btns a:hover {
  color: #f3f2f2;
}
body#home li#me-item .me-btns a:hover span {
  opacity: 1;
  bottom: -38px;
}
body#home li#me-item:hover, body#home li#me-item.active {
  background-color: tomato;
}
body#home li#me-item:hover p, body#home li#me-item.active p {
  opacity: 1;
  right: 25px;
}
body#home li#me-item:hover .me-btns, body#home li#me-item.active .me-btns {
  opacity: 1;
}
@media all and (max-width: 1024px) {
  body#home li#me-item {
    background-color: tomato;
  }
  body#home li#me-item p {
    opacity: 1;
    font-size: 21px;
    right: 20px;
    left: 20px;
    bottom: 30px;
    margin: 0;
    display: block;
    opacity: 1;
    text-align: center;
  }
  body#home li#me-item .me-btns {
    opacity: 1;
  }
  body#home li#me-item:hover p {
    right: 20px;
  }
}
@media all and (max-width: 768px) {
  body#home li#me-item p {
    bottom: 50px;
  }
}
body#home li#work-item:hover, body#home li#work-item.active {
  background-color: turquoise;
}
@media all and (max-width: 1024px) {
  body#home li#work-item {
    background-color: turquoise;
  }
}
body#home li#play-item:hover, body#home li#play-item.active {
  background-color: #fed544;
}
@media all and (max-width: 1024px) {
  body#home li#play-item {
    background-color: #fed544;
  }
}
body#home li svg.work,
body#home li svg.play,
body#home li svg.me {
  fill: #f3f2f2;
  margin-top: 15px;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#home li svg.work.work,
body#home li svg.play.work,
body#home li svg.me.work {
  width: 54%;
}
body#home li svg.work.play,
body#home li svg.play.play,
body#home li svg.me.play {
  width: 44.5%;
}
body#home li svg.work.me,
body#home li svg.play.me,
body#home li svg.me.me {
  width: 23.5%;
}
@media all and (max-width: 1024px) {
  body#home li svg.work,
  body#home li svg.play,
  body#home li svg.me {
    height: 100px !important;
    margin-top: 30px;
  }
  body#home li svg.work.work,
  body#home li svg.play.work,
  body#home li svg.me.work {
    width: 100%;
  }
  body#home li svg.work.play,
  body#home li svg.play.play,
  body#home li svg.me.play {
    width: 100%;
  }
  body#home li svg.work.me,
  body#home li svg.play.me,
  body#home li svg.me.me {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  body#home li svg.work,
  body#home li svg.play,
  body#home li svg.me {
    margin-top: 75px;
  }
}

/* Resume Page
======================================================= */
body#hireme {
  background: #eee;
}
body#hireme .content-wrapper {
  width: 60%;
  margin: 20px auto 50px auto;
  padding: 30px 40px;
  background: white;
  border-top: 10px solid tomato;
}
body#hireme section {
  margin-bottom: 50px;
  padding-right: 20px;
}
body#hireme section#skills {
  padding-bottom: 65px;
  margin-bottom: 28px;
  border-bottom: 2px dotted #e2dfdf;
}
body#hireme section#intro {
  float: left;
  padding-bottom: 30px;
  border-bottom: 2px dotted #e2dfdf;
}
body#hireme section#intro img {
  width: 200px;
  float: left;
  margin-right: 30px;
}
body#hireme section#intro h1 {
  font-size: 2.85em;
  letter-spacing: 0.09em;
  margin-top: 44px;
}
body#hireme section#intro h2 {
  font-size: 1.5em;
  font-family: 'proxima_novalight_italic';
  letter-spacing: 0.09em;
}
body#hireme section#intro .content {
  font-size: 1.4em;
  margin-top: 20px;
  line-height: 1.5em;
}
body#hireme section h2.section-header {
  width: 19%;
  margin-right: 3%;
  padding-right: 2%;
  border-right: 4px solid #f3f2f2;
  display: inline-block;
  float: left;
  font-size: 1.8em;
  text-align: right;
  line-height: 1;
  color: tomato;
  font-family: 'Novecentowide-DemiBold';
  letter-spacing: 0.09em;
}
body#hireme section article {
  margin-bottom: 30px;
  width: 75%;
  display: inline-block;
  float: right;
}
body#hireme section article header {
  position: relative;
}
body#hireme section article header h1 {
  font-size: 2em;
  margin-bottom: 12px;
}
body#hireme section article header h1.education {
  font-size: 1.6em;
}
body#hireme section article header h2 {
  font-size: 1.5em;
  text-transform: none;
  margin-bottom: 10px;
  color: #ff3814;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
}
body#hireme section article header .meta {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 0.8em;
  font-family: 'Novecentowide-DemiBold';
  letter-spacing: 0.09em;
}
body#hireme section article header .meta .date {
  margin-bottom: 5px;
}
body#hireme section article .content {
  font-size: 1.4em;
  width: 70%;
  line-height: 1.5em;
  color: #999;
}
body#hireme section ul.skill-list {
  display: inline-block;
  width: 49%;
  margin-right: 2%;
  float: left;
}
body#hireme section ul.skill-list li {
  list-style: none;
  margin-bottom: 25px;
  font-size: 1.3em;
  color: #999;
  font-family: 'Novecentowide-Medium';
  letter-spacing: 0.09em;
}
body#hireme section#contact {
  margin-bottom: 0;
  padding-right: 0;
}
body#hireme section#contact ul.contact-list li {
  width: 33.33333%;
  margin: 0;
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 1.4em;
}
body#hireme section#contact ul.contact-list li a {
  list-style: none;
  color: tomato;
  border-bottom: 1px solid white;
  text-decoration: none;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
body#hireme section#contact ul.contact-list li:first-child {
  text-align: left;
}
body#hireme section#contact ul.contact-list li:last-child {
  text-align: right;
}
body#hireme section#contact ul.contact-list li:hover a {
  border-color: tomato;
}

/* Footer
======================================================= */
footer {
  width: 100%;
  padding: 15px 0;
  background: #333;
  background: #393939;
  color: #ccc;
  text-align: center;
  font-size: 0.85em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Extras
======================================================= */
.go-top {
  display: none;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em 1em 0.75em 1em;
  background-color: rgba(158, 178, 192, 0.4);
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.first {
  margin-left: 0 !important;
}

.last {
  margin-right: 0 !important;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
/* Selection Colors
======================================================= */
::-moz-selection {
  background: tomato;
  color: white;
}
::selection {
  background: tomato;
  color: white;
}

::-moz-selection {
  background: tomato;
  color: white;
}
