$icon-size:35px;

body#home {
	padding:$site-padding;
	line-height:2px;
	overflow:hidden;
	a {
		text-decoration: none;
		color:darken($grey, 16%);
	}
	li {
		position:relative;
		width: 94%;
		margin:auto;
		list-style: none;
		@include ease;
		&:first-child {
			&:hover {
				p {
					opacity:1;
					margin-left:2%;
				}
			}
		}
		&:first-child, &:nth-child(2), &:nth-child(3) {
			padding:30px 40px;
		}
		p {
			color:darken($red, 25%);
			font-size: 21px;
			opacity: 0;
			letter-spacing: .02em;
			position:relative;
			display: inline-block;
			@include font-pn(light-italic);
			@include ease;
		}
		// Me
		&:first-child {
			.me-btns {
				z-index:9999;
				right:15px;
				top:15px;
				position:absolute;
				opacity: 0;
				@include ease;
				a {
					font-size: $icon-size;
					color:$grey;
					&:hover {color:$yellow;}//darken($red, 20%);}
				}
			}
			&:hover, &.active {
				background-color:$red;
				.me-btns {opacity:1;}
			}
		}
		// Work
		&:nth-child(2) {
			span {
				margin-left:0%;
				a {margin-right:10px;}
			}
			&:hover, &.active {
				background-color:$turq;
				span {margin-left:2%;}
			}
		}
		// Play
		&:nth-child(3) {
			span {margin-left: -2%;}
			&:hover, &.active {
				background-color:$yellow;
				span {margin-left:0;}
			}
		}
		// Both SVG Images
		svg.work,
		svg.play,
		svg.me {
			fill:$grey;
			height:0%;
			@include ease;
		}
		// Work Letters
		$word-width:49%;
		svg.work {width:$word-width + 15%;}
		// Play Letters
		svg.play {width:$word-width;}
		// Me Letters
		svg.me {width:$word-width - 22%;}
		span {
			position:absolute;
			bottom:35px;
  			@include ease;
			a {
				opacity: 0;
				font-size:$icon-size;
				// Work Icons
				&.icon-behance,
				&.icon-linkedin {@include icon-color($turq);}

				// Play Icons
				&.icon-codepen,
				&.icon-tumblr,
				&.icon-twitter,
				&.icon-instagram {@include icon-color($yellow);}
			}
		}
		&:hover,
		&.active {
			span {
				opacity:1;
				a {
					opacity: 1;
					&:hover {}
				}
			}
		}
	}
}