$icon-size:35px;

body#home {
	padding:$site-padding;
	line-height:2px;
	overflow:hidden;
	a {
		text-decoration: none;
		color:darken($grey, 16%);
	}
	li {
		position:relative;
		width: 94%;
		margin:auto;
		list-style: none;
		@include ease;
		&:first-child {
			&:hover {
				p {
					opacity:1;
					margin-left:2%;
				}
			}
		}
		&:first-child, &:nth-child(2), &:nth-child(3) {
			padding:30px 40px;
		}
		p {
			color:darken($red, 25%);
			font-size: 22px;
			opacity: 0;
			letter-spacing: .02em;
			position:relative;
			display: inline-block;
			line-height: 1.2;
			@include font-pn(light-italic);
			@include ease;
			@include responsive(tablet) {
				margin: 0;
				display: block;
				margin-top: 27px;
				opacity: 1;
			}
		}
		// Me
		&#me-item {
			.me-btns {
				z-index:9999;
				right:15px;
				top:15px;
				position:absolute;
				opacity: 0;
				@include ease;
				a {
					font-size: $icon-size - 2px;
					color:darken($red, 16%);//$grey;
					margin-left: 2px;
					position: relative;
					span {
						min-width:60px;
						position:absolute;
						bottom:-30px;
						left:-8px;
						padding:15px 0;
						background:$yellow;//darken($red, 16%);
						color:$red;
						text-align: center;
						font-size: 11px;
						line-height: 0.3;
						letter-spacing: 0.08em;
						text-transform:uppercase;
						opacity: 0;
						@include font-pn(semibold);
						@include ease;
						&:before {
							content:'';
							width: 0;
							height: 0;
							position:absolute;
							top:-5px;
							left:26px;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 5px solid $yellow;
						}
					}
					&.icon-mail {
						font-size: ($icon-size + 2px);
						span {
							left:-5px;
							&:before {left:43%;}
						}
					}
					&:hover {
						color:$grey;//$yellow;
						span {
							opacity: 1;
							bottom:-38px;
						}
					}
				}
			}
			&:hover, &.active {
				background-color:$red;
				.me-btns {opacity:1;}
			}
			// Responsive
			@include responsive(tablet) {
				background-color:$red;
				.me-btns {opacity:1;}
			}
		}
		// Work
		&#work-item {
			span {
				margin-left:0%;
				//a {margin-right:10px;}
			}
			&:hover, &.active {
				background-color:$turq;
				span {margin-left:2.5%;}
			}
			// Responsive
			@include responsive(tablet) {background-color:$turq;}
		}
		// Play
		&#play-item {
			span {margin-left: -2%;}
			&:hover, &.active {
				background-color:$yellow;
				span {margin-left:0;}
			}
			// Responsive
			@include responsive(tablet) {background-color:$yellow;}
		}
		// Both SVG Images
		svg.work,
		svg.play,
		svg.me {
			fill:$grey;
			height:0%;
			@include ease;
		}
		// Work Letters
		$word-width:49%;
		svg.work {width:$word-width + 15%;}
		// Play Letters
		svg.play {width:$word-width;}
		// Me Letters
		svg.me {width:$word-width - 22%;}
		span {
			position:absolute;
			bottom:35px;
  			@include ease;
			a {
				opacity: 0;
				font-size: 30px;
				display: block;
				line-height: 1.2;
				vertical-align: baseline;
				@include font-skol;
				// Work Icons
				&.behance,
				&.linkedin {@include word-color($turq);}

				// Play Icons
				&.blog,
				&.codepen,
				&.tumblr,
				&.twitter,
				&.instagram {@include word-color($yellow);}
			}
		}
		&:hover,
		&.active {
			span {
				opacity:1;
				a {
					opacity: 1;
					&:hover {}
				}
			}
		}
		@include responsive(tablet) {
			width:85%;
			span {
				margin-left:30px;
				a {opacity:1;}
			}
		}
	}
}