

/* Links and Headers
======================================================= */
a {
	color:$link-color;
	@include ease;
	&:focus, &:hover, &:active {outline: 0;}
	&:hover {color:$link-hover-color;}
}

h1, h2, h3, h4, h5 {
	margin-bottom:0.35em;
	color:$headline-color;
	//letter-spacing:0.25em;
	text-transform:uppercase;
	@include font-nov(bold);
}

h1 {font-size:4em;}
h2 {font-size:3em;}
h3 {font-size:2.5em;}
h4 {font-size:2em;}
h5 {font-size:1.5em;}




/* Main Body Styles
======================================================= */
body {
	font-size:62.5%;
	color:$body-copy-color;
	@include font-os(400);
}


/* Nav Styles
======================================================= */
nav {
	a {
		text-decoration: none;
		color:$headline-color;
	}
	body#hireme & {
				position:absolute;
				top: 40px;
				left: 160px;
				a {
					span {
						font-size:60px;
						width: 60px;
						height: 60px;
						float: left;
					}
				&:hover {color:$gray; background:$resume-color-1;}

				}

	}
}



/* Home Page
======================================================= */
@import "_homepage.scss";




/* Resume Page
======================================================= */
body#hireme {
	background:#eee;
	.content-wrapper {
		width:60%;
		margin:40px auto 50px auto;
		padding:30px 40px;
		background:white;
		border-top:10px solid $resume-color-1;
	}
	section { // For Experience, Education and Skills
		margin-bottom:50px;
		padding-right:20px;
		&#skills {
			padding-bottom:65px;
			margin-bottom: 28px;
			border-bottom:2px dotted darken($grey,7%);
		}
		&#intro { // Intro Section Only
			float: left;
			padding-bottom:30px;
			border-bottom:2px dotted darken($grey,7%);
			img {
				width:200px;
				float:left;
				margin-right: 30px;
			}
			h1 {
				font-size:2.85em;
				letter-spacing: 0.09em;
				margin-top: 44px;
			}
			h2 {
				font-size:1.5em;
				@include font-pn(light-italic);
				letter-spacing: 0.09em;
			}
			.content {
				font-size: 1.4em;
				margin-top:20px;
				line-height: 1.5em;
			}
		}
		h2.section-header {
			$spacer:3%;
			$padding:2%;
			$width:24% - $spacer - $padding;
			width:$width;
			margin-right:$spacer;
			padding-right:$padding;
			border-right:4px solid $grey;
			display: inline-block;
			float:left;
			font-size: 1.8em;
			text-align:right;
			line-height: 1;
			color:$resume-color-1;//lighten($headline-color,25%);
			@include font-nov(demibold);
		}
		article { // For Individual Entries
			margin-bottom: 30px;
			width:75%;
			display: inline-block;
			float:right;
			header { // For Entry Titles, Locations, etc
				position:relative;
				h1 {
					font-size:2em;
					margin-bottom: 12px;
					&.education {
						font-size: 1.6em;
					}
				}
				h2 {
					font-size:1.5em;
					text-transform: none;
					margin-bottom: 10px;
					color:darken($resume-color-1, 10%);
					@include font-os(300, italic);
}
				.meta {
					position:absolute;
					top:0;
					right:0;
					text-align: right;
					font-size: 0.8em;
					@include font-nov(demibold);
					.date {margin-bottom:5px;}
					.location {}
				}
			}
			.content {
				font-size: 1.4em;
				width:70%;
				line-height: 1.5em;
				color:#999;
			}
		}
		ul.skill-list {
			display: inline-block;
			width:49%;
			margin-right:2%;
			float:left;
			li {
				list-style: none;
				margin-bottom: 25px;
				font-size: 1.3em;
				color:#999;
				@include font-nov(medium);
			}
		}
		&#contact {
			margin-bottom: 0;
			padding-right:0;
			ul.contact-list {
				//width: 100%;
				li {
					width:(100% / 3);
					margin:0;
					display: inline-block;
					float: left;
					text-align:center;
					font-size: 1.4em;
					a{
						list-style: none;
						color: $resume-color-1;
						border-bottom:1px solid white;
						text-decoration: none;
						@include ease;
					}
					&:first-child {text-align:left;}
					&:last-child {text-align:right;}
					&:hover {a {border-color:$resume-color-1;}}
				}
			}
		}
	}
}








/* Footer
======================================================= */
footer {
	width:100%;
	padding:15px 0;
	background:#333;
	background:rgb(57,57,57);
	color:#ccc;
	text-align:center;
	font-size:0.85em;
	letter-spacing:0.2em;
	text-transform:uppercase;
}




/* Extras
======================================================= */

// Scroll to Top
.go-top {
	display: none;
	position: fixed;
	bottom: 2em;
	right: 2em;
	padding: 1em 1em 0.75em 1em;
	background-color: rgba(158,178,192,0.4);

	font-size: 12px;
	color: white;
	text-decoration: none;
}





// FIrst & Last Overrides
.first {margin-left:0 !important;}
.last {margin-right:0 !important;}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* Selection Colors
======================================================= */
::selection {
	background:$highlight-bkgd-color;
	color:$highlight-color;
}

::-moz-selection {
	background:$highlight-bkgd-color;
	color:$highlight-color;
}
