
.icon-mail:before { content: '\e806'; } /* '' */
.icon-tumblr:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-behance:before { content: '\e802'; } /* '' */
.icon-resume:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-codepen:before { content: '\e801'; } /* '' */